Repository multiplehats/jaydens-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: update todos
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: frozen lockfile
  pnpm-lock.yaml
Due: none

fix: commands
  .husky/pre-commit
  .husky/pre-push
  package.json
  turbo.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: add eslint-plugin-prettier
  packages/config/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: run lint:fix
  packages/config/eslint-preset.js
  packages/config/package.json
  packages/ui/components/badge/index.ts
  packages/ui/components/button/Button.svelte
  packages/ui/components/button/index.ts
  packages/ui/index.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: redundant lintstagedrc
  .lintstagedrc
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: precommit cmd
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: update cmd
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: remove redundant router
  apps/web/src/lib/api/routes/authed-viewer/me-private.router.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: prettier issue
  .husky/pre-commit
  .lintstagedrc
  apps/web/README.md
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/src/app.css
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/createContext.ts
  apps/web/src/lib/api/handle.ts
  apps/web/src/lib/api/middlewares/perfMiddleware.ts
  apps/web/src/lib/api/procedures/authedProcedure.ts
  apps/web/src/lib/api/procedures/publicProcedure.ts
  apps/web/src/lib/api/root.ts
  apps/web/src/lib/api/routes/authed-viewer/_router.ts
  apps/web/src/lib/api/routes/public-viewer/_router.ts
  apps/web/src/lib/api/routes/public-viewer/drinks/drinks.json
  apps/web/src/lib/api/routes/public-viewer/drinks/drinks.router.ts
  apps/web/src/lib/api/routes/public-viewer/drinks/drinks.schema.ts
  apps/web/src/lib/api/trpc-load.ts
  apps/web/src/lib/api/trpc.ts
  apps/web/src/lib/drinks/queries/index.ts
  apps/web/src/routes/api/trpc/[trpc]/+server.ts
  apps/web/src/routes/drinks/+page.server.ts
  apps/web/src/routes/drinks/[id]/+page.server.ts
  apps/web/svelte.config.js
  apps/web/tailwind.config.cjs
  apps/web/tsconfig.json
  package.json
  packages/config/eslint-preset.js
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: lintstagedrc
  .lintstagedrc
Due: none

fix: missing svelte-check dep
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: lintstagedrc
  .gitignore
  .lintstagedrc
  packages/core/index.ts
  packages/ui/components/button/Button.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: check off todo
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: update todo
  README.md
  apps/web/package.json
  apps/web/svelte.config.js
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: type errors
  packages/tsconfig/tsconfig-svelte-library.json
  packages/ui/components/alert-dialog/AlertDialogAction.svelte
  packages/ui/components/alert-dialog/AlertDialogCancel.svelte
  packages/ui/components/button/Button.svelte
  packages/ui/tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: check of todo
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: add image
  README.md
  apps/web/static/opengraph.png
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: image 404
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: remove height image
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: improve copy
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add lucide-svelte (req by shadcn)
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: redundant component
  packages/ui/components/alert-dialog/AlertDialogAction.svelte
  packages/ui/components/alert-dialog/AlertDialogCancel.svelte
  packages/ui/components/alert-dialog/AlertDialogContent.svelte
  packages/ui/components/alert-dialog/AlertDialogDescription.svelte
  packages/ui/components/alert-dialog/AlertDialogFooter.svelte
  packages/ui/components/alert-dialog/AlertDialogHeader.svelte
  packages/ui/components/alert-dialog/AlertDialogOverlay.svelte
  packages/ui/components/alert-dialog/AlertDialogPortal.svelte
  packages/ui/components/alert-dialog/AlertDialogTitle.svelte
  packages/ui/components/alert-dialog/index.ts
  packages/ui/components/pulse/Pulse.svelte
  packages/ui/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: added how to add new shadcn components
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

revert: fix remove pulse component
  packages/ui/components/pulse/Pulse.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: prisma integration
  .env.example
  .gitignore
  README.md
  apps/web/.env
  apps/web/.gitignore
  apps/web/package.json
  apps/web/src/app.d.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/api/createContext.ts
  apps/web/src/lib/api/middlewares/sessionMiddleware.ts
  apps/web/src/lib/api/procedures/authedProcedure.ts
  apps/web/src/lib/api/root.ts
  apps/web/src/lib/api/routes/authed-viewer/_router.ts
  apps/web/src/lib/api/routes/public-viewer/_router.ts
  apps/web/src/lib/api/routes/public-viewer/session.router.ts
  apps/web/src/lib/server/authjs/index.ts
  apps/web/src/lib/server/db/index.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/auth-demo/+page.svelte
  apps/web/src/routes/auth-demo/guarded-page/+page.server.ts
  apps/web/src/routes/auth-demo/guarded-page/+page.svelte
  apps/web/tsconfig.json
  package.json
  packages/database/.env
  packages/database/.gitignore
  packages/database/index.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: type error
  apps/web/src/routes/auth-demo/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: type error
  apps/web/src/lib/server/authjs/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: type errors
  apps/web/src/app.d.ts
  apps/web/src/lib/api/middlewares/sessionMiddleware.ts
  apps/web/src/lib/server/authjs/index.ts
  apps/web/src/routes/auth-demo/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: env instructions
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: build command
  packages/database/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add authjs to features
  apps/web/src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint: any of: *.{js,ts,svelte}
